img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  max-width: 100%;
  width: 230px;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0;
  box-shadow: 0 0 5px #eee;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  opacity: 0.7;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 5px #eee;
  opacity: 1;
}

.app {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
  min-height: 700px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-board {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* padding: 10px; */
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/images/bg-board.png);
  position: relative;
}

.game-container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: 4fr 1fr;
  place-items: center;
}

.game-board {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #26a0da;
  border-radius: 10px;
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/images/bg-board.png);
  position: relative;
}

.game-score {
  text-align: center;
  color: #fff;
}

.game-control {
  padding: 16px;
}

.game-title {
  text-align: center;
  text-shadow: 3px 3px #26a0da;
  color: #fff;
  text-transform: uppercase;
}

.game-pokemon {
  display: grid;
  grid-template-columns: repeat(10, calc(100% / 10));
  place-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.game-overlay {
  display: grid;
  grid-template-columns: repeat(10, calc(100% / 10));
  place-items: stretch;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.mode-normal {
  grid-template-columns: repeat(12, calc(100% / 12));
}

.mode-easy {
  grid-template-columns: repeat(10, calc(100% / 10));
}

.mode-hard {
  grid-template-columns: repeat(14, calc(100% / 14));
}

.pokemon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: #26a0da;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}

.pokemon-card.selected {
  background-color: #314755 !important;
}
.pokemon-card.hidden {
  opacity: 0;
}

.pokemon-card img {
  height: 40px;
}

.line-card {
  /* border: 1px solid #26a0da; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: transparent;
  position: relative;
}

.line-card::before,
.line-card::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  background-color: #60a5fa;
  z-index: 100;
}

.line-card.in-line::before {
  display: block;
  background-color: #60a5fa;
}

.line-card.top-direction::before {
  width: 4px;
  height: calc(100% + 2px);
  transform: translate(-50%, 0);
}

.line-card.bottom-direction::before {
  width: 4px;
  height: calc(100% + 2px);
  transform: translate(-50%, -100%);
}

.line-card.right-direction::before {
  width: calc(100% + 2px);
  height: 4px;
  transform: translate(-100%, -50%);
}

.line-card.left-direction::before {
  width: calc(100% + 2px);
  height: 4px;
  transform: translate(0, -50%);
}

.line-card.start-point::after {
  background-color: #bfdbfe;
}

.line-card.end-point::after {
  background-color: #3b82f6;
}

.line-card.start-point::after,
.line-card.end-point::after {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  z-index: 200;
}
